<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add input</title>
</head>
<body>
    <h1>Add a new input</h1>
    <form id="form-container" method="POST">
        {% csrf_token %}
        {{input_formset.management_form}}
        {% for form in input_formset %}
        <div class="bird-form">
        {{form.as_p}}
        </div>
        {% endfor %}
        <button id="add-form" type="button">Add Another Input</button>
        <button type="submit">Create Input</button>
    </form>
<script src="{% static 'inputX/JS/srpt.js' %}" ></script>
    </body>
</html>